p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  display: block;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    display: flex;
    margin: 0 auto;
  }
}

.logo {
  display: flex;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover, .logo:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 1200ms, visibility 1000ms;
}

.modal {
  width: 290px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 41px;
  padding-right: 39px;
  min-height: 609px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: rotate(0);
  transform: translate(-50%, -50%);
  transition: transform 1000ms;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.backdrop.is-hidden .modal {
  transform: rotate(60deg) translate(-1600px);
  transition: transform 1500ms;
}

.modal-close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 8px;
  top: 8px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal-close-icon {
  fill: #000000;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: 0;
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.online-form {
  width: 100%;
}

.modal-text {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--third-text-color);
}

.input-modal {
  display: block;
  padding-left: 40px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-modal:focus {
  border-color: var(--accent-color);
}
.input-modal .input-modal:focus + .input-icon {
  fill: var(--accent-color);
}

.input-wrap {
  position: relative;
  margin-bottom: 10px;
}

.input-icon {
  position: absolute;
  top: 30px;
  left: 14px;
  /* transform: translatey(-50%); */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.online-comments {
  display: block;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  overflow: hidden;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.online-comments:focus {
  border-color: var(--accent-color);
}
.online-comments::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.online-comments:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.online-comments::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comments-wrap {
  margin-bottom: 20px;
}

.policy-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}
@media screen and (min-width: 1200px) {
  .policy-text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.policy-link {
  margin-left: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration: underline;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .policy-link {
    font-size: 14px;
    line-height: 1.71;
  }
}

.check-item {
  width: 16px;
  height: 15px;
  display: flex;
  margin-right: 8px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-checkbox:checked + .policy-text .check-item {
  background-color: var(--accent-color);
  border: none;
}

.policy-icon {
  fill: #ffffff;
}

.form-btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  margin-top: 30px;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--second-text-color);
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--site-border-color);
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header-nav {
  display: flex;
}

.header-nav__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-nav__list {
    display: flex;
    margin-left: 88px;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .header-nav__list {
    margin-left: 93px;
  }
}

.header-nav__item {
  margin-right: 50px;
}

.header-nav__item:last-child {
  margin-right: 0;
}

.logo--black {
  color: var(--primary-text-color);
}

.header-nav__link {
  display: block;
  position: relative;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav__link:hover, .header-nav__link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .header-nav__link {
    padding: 6px 20px 6px 20px;
  }
}

.header-nav__link--current {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) and (max-width: 11998px) {
  .header-nav__link--current {
    padding-bottom: 16px;
  }
}

.header-nav__link--current::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: -32px;
  left: 0;
  border-radius: 2px;
}
@media screen and (min-width: 1200px) {
  .header-nav__link--current::after {
    bottom: -26px;
  }
}

.header-address {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-address {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .header-address {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-address__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header-address__item:not(:last-child) {
    margin-right: 50px;
  }
}

.header-address__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-address__link:hover, .header-address__link:focus {
  color: var(--accent-color);
}

.header-address__icon {
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-address__link:hover .header-address__icon, .header-address__link:focus .header-address__icon {
  fill: var(--accent-color);
}

.header-btn {
  display: inline-flex;
  border: none;
  padding: 0;
  background-color: transparent;
  margin-left: 130px;
}
@media screen and (min-width: 480px) {
  .header-btn {
    margin-left: 276px;
  }
}
@media screen and (min-width: 768px) {
  .header-btn {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  background-color: #ffffff;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: 28px 20px;
  z-index: 10;
}
@media screen and (min-width: 480px) {
  .mobile-menu {
    padding: 48px 40px;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu__container {
  max-width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 480px) {
  .mobile-menu__container {
    max-width: 480px;
  }
}

.mobile-menu__btn {
  position: absolute;
  top: 10px;
  left: 280px;
  border: none;
  padding: 0;
  background-color: transparent;
  margin-left: auto;
}
@media screen and (min-width: 480px) {
  .mobile-menu__btn {
    left: 425px;
  }
}

.mobile-menu__list {
  display: flex;
  flex-direction: column;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
@media screen and (min-width: 480px) {
  .mobile-menu__link {
    font-size: 40px;
  }
}

.mobile-menu__link--current {
  color: var(--accent-color);
}

.mobile-adress__item {
  margin-bottom: 64px;
}
.mobile-adress__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-adress__tel-link {
  font-weight: 500;
  font-size: 25px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .mobile-adress__tel-link {
    font-size: 34px;
  }
}

.mobile-adress__email-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-social__list {
  display: flex;
}

.mobile-social__item:not(:first-child) {
  margin-left: 10px;
}
.mobile-social__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-social__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.22;
  color: var(--accent-color);
  letter-spacing: 0.02em;
  padding-right: 10px;
}
@media screen and (min-width: 480px) {
  .mobile-social__link {
    font-size: 18px;
  }
}

.footer {
  background-color: var(--third-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .footer__container {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 1199px) {
  .footer__address-wrap {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__address-wrap {
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__address-wrap {
    margin-right: 70px;
  }
}

.logo__blue {
  display: flex;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
@media screen and (max-width: 1199px) {
  .logo__blue {
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .logo__blue {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__white {
  display: flex;
  color: var(--second-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .footer__item {
    text-align: center;
  }
}
.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__address-link {
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__address-link:hover, .footer__address-link:focus {
  color: var(--accent-color);
}

.footer__address-link--white {
  color: var(--second-text-color);
}

.footer__social-wrap {
  display: block;
}
@media screen and (max-width: 767px) {
  .footer__social-wrap {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__social-wrap {
    margin-right: 93px;
  }
}

.footer__social-title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);
}
@media screen and (max-width: 1199px) {
  .footer__social-title {
    text-align: center;
  }
}

.footer__social-list {
  display: flex;
}
@media screen and (max-width: 767px) {
  .footer__social-list {
    justify-content: center;
  }
}

.footer__social-item {
  width: 44px;
  height: 44px;
}
.footer__social-item + .footer__social-item {
  margin-left: 10px;
}

.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social-link:hover, .footer__social-link:focus {
  background-color: var(--accent-color);
}

.footer__icon {
  fill: var(--second-text-color);
}

.subscription {
  display: block;
}

.subscription__wrap {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .subscription__wrap {
    flex-direction: row;
  }
}

.subscription__title {
  width: 100%;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);
}
@media screen and (max-width: 1199px) {
  .subscription__title {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .subscription-form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.subscription-form__input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--third-background-color);
  border-style: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.subscription-form__input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription-form__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscription-form__input {
    width: 450px;
  }
}
@media screen and (max-width: 1199px) {
  .subscription-form__input {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription-form__input {
    width: 358px;
    height: 50px;
    margin-right: 12px;
  }
}

.ssubscription-form__item {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.subscription-form__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--second-text-color);
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
}

.hero {
  margin: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("./../images/17-mob-1x.jpg");
  border-color: var(--third-background-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("./../images/17-mob-2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: url("./../images/17-tab-1x.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("./../images/17-tab-2x.jpg");
    max-width: 768px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url("./../images/17.jpg");
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("./../images/17-2x.jpg");
  }
}

.hero__container {
  display: inline-block;
  flex-direction: column;
}

.hero__title {
  text-align: center;
  font-family: Roboto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-text-color);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-btn {
  margin-top: 30px;
  background-color: var(--accent-color);
  color: var(--second-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
}

.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.benefits__container {
  height: auto;
}

@media screen and (min-width: 768px) {
  .benefits__list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .benefits__item {
    flex-basis: calc((100% - 1 * 30px) / 2);
  }
  .benefits__item:nth-child(2n+2) {
    margin-left: 30px;
  }
  .benefits__item:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    flex-basis: calc(100% / 4 - 30%);
  }
  .benefits__item:not(:first-child) {
    margin-left: 30px;
  }
}

.benefits__wrap {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .benefits__wrap {
    display: flex;
    align-items: center;
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__wrap {
    display: flex;
    align-items: center;
    width: 270px;
  }
}

.benefits__icon {
  width: 290px;
}
@media screen and (min-width: 480px) {
  .benefits__icon {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .benefits__icon {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__icon {
    width: 270px;
  }
}

.benefits__title {
  width: 270px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
@media screen and (max-width: 480px) {
  .benefits__title {
    width: 100%;
    text-align: center;
  }
}

.benefits__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}

.services {
  text-align: center;
  padding-bottom: 94px;
}
@media screen and (max-width: 1200px) {
  .services {
    display: none;
  }
}

.services__container {
  display: flex;
  flex-direction: column;
}

.services__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.services__list {
  display: flex;
  flex-wrap: wrap;
}

.services__item {
  position: relative;
}
.services__item::before {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}
.services__item:nth-child(n+2) {
  margin-left: 30px;
}

.services__overlay {
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  right: 0;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);
  transform: translatey(-27px);
}

.team {
  background-color: var(--second-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__container {
  display: flex;
  flex-direction: column;
}

.team__main-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__main-title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
  }
}
.team__item {
  width: 290px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 480px) {
  .team__item {
    width: 450px;
  }
}
@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    width: 354px;
  }
  .team__item:nth-child(2n+2) {
    margin-left: 30px;
  }
  .team__item:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
  }
  .team__item:nth-child(n+2) {
    margin-left: 30px;
  }
}

.team__title {
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team__text {
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}

.socials {
  display: flex;
  max-width: 450px;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.socials__item {
  width: 44px;
  height: 44px;
}
.socials__item + .socials__item {
  margin-left: 10px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
}

.socials__link + .socials__link {
  margin-left: 10px;
}

.socials__icon {
  fill: #afb1b8;
}
.socials__link:hover .socials__icon, .socials__link:focus .socials__icon {
  fill: currentColor;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__container {
  flex-direction: column;
}

.clients__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.clients__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1199px) {
  .clients__list {
    flex-wrap: wrap;
  }
}

.clients__item {
  width: calc((100% - 1 * 30px) / 2);
  height: 92px;
}
@media screen and (min-width: 480px) {
  .clients__item {
    width: 210px;
  }
}
@media screen and (max-width: 767px) {
  .clients__item:nth-child(-n+4) {
    margin-bottom: 30px;
  }
  .clients__item:nth-child(2n+2) {
    margin-left: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item {
    width: 226px;
    margin-left: 30px;
  }
  .clients__item:nth-child(-n+3) {
    margin-bottom: 30px;
  }
  .clients__item:nth-child(3n+1) {
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
  }
  .clients__item + .clients__item {
    margin-left: 30px;
  }
}

.clients__link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover {
  border: 1px solid var(--accent-color);
}
.clients__link:focus {
  border: 1px solid var(--accent-color);
}

.clients__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover .clients__icon {
  fill: var(--accent-color);
}
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio__container {
  display: flex;
  flex-direction: column;
}

.portfolio__btn-list {
  display: flex;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .portfolio__btn-list {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__btn-list {
    justify-content: center;
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__btn-list {
    margin-bottom: 50px;
  }
}

.portfolio__btn {
  display: inline-block;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
  background-color: var(--second-background-color);
  border: none;
  cursor: pointer;
  padding: 6px 20px 6px 20px;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__btn:active {
  background-color: var(--accent-color);
  color: var(--second-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio__btn:hover, .portfolio__btn:focus {
  background-color: var(--accent-color);
  color: var(--second-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__btn-item {
  margin-right: 8px;
}
.portfolio__btn-item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 767px) {
  .portfolio__btn-item:nth-child(-n+3) {
    margin-bottom: 15px;
  }
}

.portfolio__item-list {
  display: block;
}
@media screen and (min-width: 768px) {
  .portfolio__item-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.portfolio__item {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__item {
    flex-basis: calc((100% - 1 * 30px) / 2);
    margin-right: 30px;
  }
  .portfolio__item:nth-child(2n) {
    margin-right: 0;
  }
  .portfolio__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    flex-basis: calc((100% - 2 * 30px) / 3);
    margin-left: 30px;
  }
  .portfolio__item:nth-child(n+7) {
    margin-bottom: 0;
  }
  .portfolio__item:nth-child(3n+1) {
    margin-left: 0;
  }
}

.portfolio__cart {
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-left: solid 1px var(--site-border-color);
  border-right: solid 1px var(--site-border-color);
  border-bottom: solid 1px var(--site-border-color);
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__title:hover, .portfolio__title:focus {
  color: var(--accent-color);
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}

.portfolio__link {
  color: inherit;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__overlay {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  opacity: 0;
}
.portfolio__link:hover .portfolio__overlay-text, .portfolio__link:focus .portfolio__overlay-text {
  opacity: 1;
  -webkit-animation-name: portfolioanim;
          animation-name: portfolioanim;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
}

@-webkit-keyframes portfolioanim {
  0% {
    transform: translatey(100%);
  }
  100% {
    transform: translatey(0%);
  }
}

@keyframes portfolioanim {
  0% {
    transform: translatey(100%);
  }
  100% {
    transform: translatey(0%);
  }
}
:root {
  --primary-text-color: #212121;
  --second-text-color: #ffffff;
  --third-text-color: #757575;
  --accent-color: #2196f3;
  --primary-background-color: #e5e5e5;
  --second-background-color: #f5f4fa;
  --third-background-color: #2f303a;
  --site-border-color: #ececec;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}/*# sourceMappingURL=main.css.map */