.hero {
  // max-width: 480px;
  // width: 100%;
  margin: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(./images/17-mob-1x.jpg);
  border-color: var(--third-background-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(./images/17-mob-2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../../images/17-tab-1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../../images/17-tab-2x.jpg);
      max-width: 768px;
    }

    @media screen and (min-width: 1200px) {
      background-image: url(../../images/17.jpg);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../../images/17-2x.jpg);
        max-width: 1600px;
        height: 600px;
        padding-top: 200px;
        padding-bottom: 200px;
      }
    }
  }
}

.hero__container {
  display: inline-block;
  flex-direction: column;
}

.hero__title {
  text-align: center;
  font-family: Roboto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-text-color);

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-btn {
  margin-top: 30px;
  background-color: var(--accent-color);
  color: var(--second-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
}
