html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  display: block;
}
