:root {
  --primary-text-color: #212121;
  --second-text-color: #ffffff;
  --third-text-color: #757575;
  --accent-color: #2196f3;
  --primary-background-color: #e5e5e5;
  --second-background-color: #f5f4fa;
  --third-background-color: #2f303a;
  --site-border-color: #ececec;
}
